 
 * {
  background-color: rgba(179, 185, 166, 0.128);
 }
 
 header {
            background-color: blue;
            color: yellow;
            background-image: url(image/fantasy-2543658_1280.jpg);
            padding: 20px;
            background-size: cover;
            
        }

        li {
          list-style: none;
        }

        a {
          text-decoration: none;
        }

        nav ul{
          font-size: 2rem;
          display: flex;
          gap: 50px;
          background-color:yellow;
        }

        nav li a {
          color: red;
          font-size: 30px;
        }

        nav li a::before {
          content:"☕" ;
        }
        .container {
          display: flex;
          max-width: 100%;
          gap: 50px;

        }
        main {
          display: flex;
          flex-basis: 70%;
      
        }
        aside {
          flex-basis: 30%;
        }
        
        
        main img {
          max-width: 100%;
        }
        aside img {
          max-width: 200px
        }
        
    
    
  .borda-redonda {
    border-radius: 20px;
  }
  section {
    
  }

   img {
    border: 10px solid blue;
  }
  
  a:hover .borda-redonda {
    border: 10px solid yellow;
  }

